// @mixin flexCenter($direction, $background) {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
//   background: $background;
// }

header {
  //@include flexCenter(column, red);
  height: 100vh;
  color: $text-color;
  background: lightblue;
  button {
    background: $primaryBtn;
    &::after {
      content: 'Helooooo';
    }
  }
}
