@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: lightskyblue url("background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  /* Push to bottom */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

header {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 60px;
}

.counters {
  background: #809398;
  color: #fff;
  padding: 40px 20px;
  border-top: 3px lightskyblue solid;
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*  fr = fraction*/
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: black;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 20px;
  }
}
h3:nth-of-type(2),
h3:nth-of-type(3) {
  color: aqua;
}
h3:nth-of-type(2):hover,
h3:nth-of-type(3):hover {
  color: green;
  /* border: black 0.1rem solid; */
  /* animation: ease-in-out; */
  transition: 0.5s linear;
}
